html {
  height: 100%;
  width: 100%;
  font-family: "Inter Sans", sans-serif;
}

body {
  min-height: 100%;
  min-width: 100%;
  background-image: url(https://i.pinimg.com/originals/ed/7b/86/ed7b86e7cec9f659e0774dcfa5cf4af0.jpg);
  /* background: linear-gradient(#9b63f5, #8c61f3); */
  /* background-color: #fee3e2;
  background-blend-mode: lighten; */
}

button {
  font-size: 7px;
}

#main-content {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  border: 1px solid #333;
  background: rgba(255, 255, 255, 0.3);
  padding: 15px 20px 18px 18px;
  border-radius: 5px;
  box-shadow: 2px 5px 5px #333;
}

#list {
  margin: 10px;
  border: 1px solid #333;
  background: rgba(255, 255, 255, 0.75);
  padding: 15px 20px 18px 18px;
  border-radius: 5px;
  box-shadow: 2px 5px 5px #333;
}
